:root {
  --bg-principal: #051321;
  --bg-secundario: #0B1E31;
  --bg-radial: #10384E;
  --cyber-neon: #39F7EA;
  --crypto-neon: #4F82FF;
  --accent-purple: #715EFF;
  --accent-orange: #FF713A;
  --texto-blanco: #F8FAFF;
  --texto-gris: #A9B7CC;
  --cyan-glow: rgba(57,247,234,.35);
  --orange-glow: rgba(255,113,58,.25);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-principal);
  color: var(--texto-blanco);
  line-height: 1.6;
  overflow-x: hidden;
}

main {
  margin-top: 90px;
}
