---
import "../../styles/hero.css";
---

<section id="inicio" class="hero inscription">
  <h1>Membresía Fundadora</h1>
  <p>Sé uno de los primeros miembros de ONA Academy.</p>

  <div>
    <ul class="info-list">
      <li>✔ Identificar vulnerabilidades comunes</li>
      <li>✔ Cómo trabajan los auditores Web3</li>
      <li>✔ Casos reales de hackeos millonarios</li>
      <li>✔ Buenas prácticas para proyectos blockchain</li>
    </ul>
  </div>

  <h1>
    <span>USD 9/mes</span>
  </h1>

  <div id="start-subscription">
    <a href="#" class="btn">Cupos Limitados</a>
  </div>
</section>
