---
import "../../styles/hero.css";
---

<section id="inicio" class="hero membership">
  <h1>
    ONB <span>Security Academy</span>
  </h1>
  <p>
    Accede a webinars, workshops, análisis de vulnerabilidades, auditorías de
    Smart Contracts y contenido premium de ciberseguridad blockchain.
  </p>
  <div>
    <a href="#start-subscription" class="btn">Comenzar Membresía</a>
  </div>
</section>
