---
import "../../styles/topics.css";
---

<section id="topics" class="topics">
  <h2 class="topics-title">Temario</h2>

  <div class="topics-grid">
    <div class="topic">
      <h3><span>Reentrancy</span></h3>
      <p>Uno de los ataques más conocidos en Ethereum.</p>
    </div>

    <div class="topic">
      <h3><span>Flash Loans</span></h3>
      <p>Manipulación de protocolos DeFi.</p>
    </div>

    <div class="topic">
      <h3><span>Oracle Attacks</span></h3>
      <p>Errores en fuentes de datos externas.</p>
    </div>

    <div class="topic">
      <h3><span>Access Control</span></h3>
      <p>Problemas de permisos y privilegios.</p>
    </div>
  </div>
</section>
