---
import MainLayout from "../layouts/MainLayout.astro";

import "../styles/global.css";
---

<MainLayout title="Webinars">
  <section>
    <h1>Webinar</h1>
    <p>Escríbenos.</p>
  </section>
</MainLayout>
