---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/common/Hero.astro";
import Topics from "../components/webinar/Topics.astro";
import Audience from "../components/webinar/Audience.astro";
import PastWebinars from "../components/webinar/PastWebinars.astro";
import SubscriptionPlans from "../components/webinar/SubscriptionPlans.astro";

import "../styles/global.css";
---

<MainLayout title="Webinars">
  <Hero>
    <Fragment slot="title">
      ONB <span>Security Academy</span>
    </Fragment>

    <Fragment slot="description">
      Accede a webinars, workshops, análisis de vulnerabilidades, auditorías de
      Smart Contracts y contenido premium de ciberseguridad blockchain.
    </Fragment>

    <Fragment slot="actions">
      <a href="#contact" class="btn">Comenzar Membresía</a>
    </Fragment>
  </Hero>

  <Topics />
  <Audience />
  <PastWebinars />

  <Hero>
    <Fragment slot="title"> Acceso Total a la Academia </Fragment>

    <Fragment slot="description">
      Más de 50 horas de contenido técnico, webinars en vivo, workshops
      prácticos y nuevo material cada mes.
    </Fragment>

    <Fragment slot="price"><span>USD 19/mes</span></Fragment>

    <Fragment slot="actions">
      <a href="#" class="btn">Comenzar Membresía</a>
    </Fragment>
  </Hero>
</MainLayout>
