---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/common/Hero.astro";
import Topics from "../components/webinar/Topics.astro";
import Audience from "../components/webinar/Audience.astro";
import PastWebinars from "../components/webinar/PastWebinars.astro";
import SubscriptionPlans from "../components/webinar/SubscriptionPlans.astro";

import "../styles/global.css";
---

<MainLayout title="Webinars">
  <Hero>
    <Fragment slot="title">
      Academia <span>Web3</span> Security
    </Fragment>

    <Fragment slot="description">
      Aprende auditoría, análisis de vulnerabilidades y seguridad blockchain con
      contenido nuevo cada mes.
    </Fragment>

    <Fragment slot="actions">
      <a href="#contact" class="btn">Comenzar Suscripción</a>
      <a href="#contact" class="btn">Ver Contenido</a>
    </Fragment>
  </Hero>

  <SubscriptionPlans />

  <Topics />
  <Audience />
  <PastWebinars />
</MainLayout>
