---
import "../styles/hero.css";
---

<section id="inicio" class="hero">
  <h1>
    Protegemos tu infraestructura digital con poder <span>Blockchain</span> y <span
      >Ciberseguridad</span>
  </h1>
  <p>
    Blindamos tus activos digitales, auditamos tus contratos inteligentes y
    defendemos tu ecosistema contra amenazas avanzadas.
  </p>
  <a href="#contacto" class="btn">Solicitar Auditoría</a>
</section>
