---
import "../styles/hero.css";
---

<section id="inicio" class="hero">
  <h1>
    Ciberseguridad avanzada y auditoría <span>Blockchain</span> para Web3
  </h1>
  <p>
    Combinamos inteligencia OSINT, análisis forense digital y servicios en la
    nube para blindar tus plataformas financieras descentralizadas.
  </p>
  <a href="#contact" class="btn">Solicitar Auditoría</a>
</section>
