---
import "../styles/navbar.css";
---

<header>
  <div class="logo">ONA Blockchain Security Audit</div>
  <nav class="navbar">
    <a href="/">Inicio</a>
    <a href="/webinar">Webinars</a>
    <a href="/about">Nosotros</a>
  </nav>
</header>
