---
import "../../styles/hero.css";
---

<section id="inicio" class="hero">
  <h1>
    <slot name="title" />
  </h1>
  <p>
    <slot name="description" />
  </p>

  <div>
    <slot name="membership-list" />
  </div>

  <h1>
    <slot name="price" />
  </h1>
  <div>
    <slot name="actions" />
  </div>
</section>
